#langchain==0.3.0
#langchain-community
#langchain-ollama
#duckduckgo-search
#wikipedia
#langgraph
#pydantic

#langchain==0.3.0
#langchain-community==0.3.0
#langchain-ollama==0.3.3
#langgraph==0.5.4
#langgraph-checkpoint==2.1.2
#langgraph-prebuilt==0.5.1
#langgraph-sdk==0.1.74
#pydantic==2.12.5
#pydantic-settings==2.13.1
#pydantic_core==2.41.5
#wikipedia==1.4.0


langchain==0.3.0
langchain-community==0.3.0
langchain-ollama==0.2.0
langgraph==0.2.20
duckduckgo-search>=6.2.11
wikipedia==1.4.0
streamlit>=1.41,<2

